[defaults]
inventory = /home/mpopov/ansible_vitrina/inventory/, /etc/ansible/inventory
inventory_ignore_extensions = ~, .orig, .bak, .cfg, .retry, .pyc, .pyo
host_key_checking = false
role_path = /home/mpopov/ansible_vitrina/roles/ 
vault_password_file = /home/mpopov/a_password_file



#inventory = ./inventory/ocod_dc1.ini,./inventory/ocod_dc2.ini,./inventory/ocod_dc2_test.ini,./inventory/clusters.ini
#remote_user = mpopov
#host_key_checking = False
#vault_id = default
#vault_password_file = /etc/ansible/vault-password.txt
#allow_world_readable_tmpfiles = True
#pipelining = True
# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
